@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600&display=swap');

/* ==========================
   RESET
========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #050816;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* ==========================
   CONTAINER
========================== */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* ==========================
   HEADER
========================== */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(5, 8, 22, .85);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, .08);
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}

.logo {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    color: #00e5ff;
    font-weight: 700;
}

.logo i {
    margin-right: 10px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 35px;
}
.menu a {
    text-decoration: none;
    color: white;
    transition: .3s;
}

.menu a:hover {
    color: #00e5ff;
}